<!DOCTYPE html>
<html>
<head>
    <title>My Orders</title>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BVEP36GDMB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BVEP36GDMB');
    </script>
</head>

<body>

<h1>My Orders</h1>

{% if orders %}

    {% for order in orders %}

    <div style="border:1px solid #ccc; padding:15px; margin:15px;">

        <h3>{{ order.product_name }}</h3>

        <p><strong>Price:</strong> ₹{{ order.price }}</p>

        <p>
            <strong>Status:</strong>
            <span style="color:green;">
                {{ order.status }}
            </span>
        </p>

        {% if order.image %}
        <img src="{{ url_for('static', filename='uploads/' + order.image) }}" width="150">
        {% endif %}

    </div>

    {% endfor %}

{% else %}

    <h2>No Orders Found</h2>

{% endif %}
<script>
  gtag('event', 'view_orders_page', {
    'event_category': 'engagement',
    'event_label': 'Orders Page Viewed'
  });
</script>

</body>
</html>